In [1]:
from fastai import *
from fastai.tabular import *

In [2]:
path = untar_data(URLs.ADULT_SAMPLE)
path

PosixPath('/home/matan/.fastai/data/adult_sample')

In [3]:
df = pd.read_csv(path/'adult.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,>=50k
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,1
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,1
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,0
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,1
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,0

In [4]:
procs = [FillMissing, Categorify, Normalize]

In [5]:
valid_idx = range(len(df)-2000, len(df))

In [6]:
dep_var = '>=50k'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

In [7]:
data = TabularDataBunch.from_df(path, df, dep_var, valid_idx=valid_idx, procs=procs, cat_names=cat_names)
print(data.train_ds.cont_names)  # `cont_names` defaults to: set(df)-set(cat_names)-{dep_var}

['age', 'capital-loss', 'fnlwgt', 'education-num', 'capital-gain', 'hours-per-week']

In [8]:
(cat_x,cont_x),y = next(iter(data.train_dl))
for o in (cat_x, cont_x, y): print(to_np(o[:5]))

[[ 7 12  7 13  2  5  2 40  1]
 [ 5  8  3 13  1  5  2 40  1]
 [ 5 10  5  2  2  5  1 40  1]
 [ 1  2  5  1  4  3  2 40  1]
 [ 5 12  3  4  1  5  2 40  1]]
[[ 1.199165 -0.216787 -0.602361 -0.421569 -0.145922 -0.035789]
 [ 0.32044  -0.216787  0.019576  0.753904  0.886658  0.772127]
 [-0.265377 -0.216787  0.336863  1.145728 -0.145922 -0.035789]
 [-1.510238  3.761712  0.620411 -1.205218 -0.145922  0.610544]
 [-1.363784 -0.216787 -1.469031 -0.421569  0.361907 -0.439748]]
[1 0 1 1 1]

In [14]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(1, 1e-2)

Total time: 00:05
epoch  train_loss  valid_loss  accuracy
1      0.323396    0.319964    0.847500  (00:05)